@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Changa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #060D16;
  --color-surface: #FFFFFF0D;
  --color-surface-elevated: #FFFFFF17;
  --color-accent-yellow: #FBFAA6;
  --color-accent-red: #D35269;
  --color-accent-blue: #06C3C6;
  --color-white: #FAFAFF;
}

/* 
TAILWIND BREAKPOINTS
@media (min-width: 640px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }
@media (min-width: 1280px) { ... }
@media (min-width: 1514px) { ... } 
*/

#root, body {
  margin: 0;
  display: flex;
  flex-grow: 1;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Orbitron, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--color-accent-yellow);
}

.hero {
  font-size: 52px;
  line-height: 62px;
}

.section-heading {
  font-family: Changa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 52px;
}

.sub-heading {
  font-family: Changa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

a {
  color: var(--color-accent-blue);
}
a:visted {
  color: var(--color-secondary);
}

label {
  color: var(--color-accent-yellow);
  margin-left: 4px;
}

@media screen and (min-width: 640px) {
  .hero {
    font-size: 62px;
    line-height: 72px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    font-size: 100px;
    line-height: 116px;
  }

  .section-heading {
    font-size: 56px;
    line-height: 68x;
  }
  
  .sub-heading {
    font-size: 36px;
    line-height: 44px;
  }
  
  p {
    font-size: 24px;
    line-height: 28px;
  }
}